<div class="container box1">
  <div class="row justify-content-center row1">
    <div class="col-6">
      <h2>Alta cliente</h2>
    </div>
  </div>
  <div class="row justify-content-center row2">
    <div class="col-2">
      <p>Nombre:</p>
    </div>
    <div class="col-4">
      <div class="form-group">
        <input
          type="text"
          class="form-control-sm"
          id="nombre"
          placeholder="Nombre"
        />
      </div>
    </div>
  </div>
  <div class="row justify-content-center row2">
    <div class="col-2">
      <p>CIF:</p>
    </div>
    <div class="col-4">
      <div class="form-group">
        <input type="text" class="form-control-sm" id="cif" placeholder="CIF" />
      </div>
    </div>
  </div>
  <div class="row justify-content-center row2">
    <div class="col-2">
      <p>Dirección:</p>
    </div>
    <div class="col-4">
      <div class="form-group">
        <input
          type="text"
          class="form-control-sm"
          id="direccion"
          placeholder="Dirección"
        />
      </div>
    </div>
  </div>
  <div class="row justify-content-center row2">
    <div class="col-2">
      <p>Grupo:</p>
    </div>
    <div class="col-4">
      <div class="input-group">
        <select class="custom-select" id="grupo">
          <option selected>Elige grupo...</option>
          <option value="1">Grupo 1</option>
          <option value="2">Grupo 2</option>
          <option value="3">Grupo 3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-center row1">
    <div class="col-6">
      <button class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>
