<div class="container box1">
  <div class="row justify-content-center row1">
    <div class="col-6">
      <h1>Formulario de contacto</h1>
    </div>
  </div>
  <div class="row justify-content-center row2">
    <div class="col-6">
      <form class="was-validated">
        <div class="input-group input1">
          <span class="input-group-text label1">Nombre </span>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre y apellidos"
            name="nombre"
            required
            [(ngModel)]="nombre"
          />
          <div class="valid-feedback">&nbsp;</div>
          <div class="invalid-feedback">Introduzca su nombre y apellidos</div>
        </div>
        <div class="input-group input1">
          <span class="input-group-text label1">Email </span>
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            name="email"
            required
            [(ngModel)]="email"
          />
          <div class="valid-feedback">&nbsp;</div>
          <div class="invalid-feedback">Introduzca su email</div>
        </div>
        <div class="input-group input1">
          <span class="input-group-text label1">Mensaje </span>
          <textarea
            type="text"
            class="form-control"
            placeholder="Mensaje"
            name="mensaje"
            rows="3"
            required
            [(ngModel)]="mensaje"
          ></textarea>
          <div class="valid-feedback">&nbsp;</div>
          <div class="invalid-feedback">Introduzca su mensaje</div>
        </div>
        <div class="input-group input1">
          <span class="input-group-text label1">2 + 3 = ?</span>
          <input
            type="text"
            class="form-control"
            placeholder="Resultado"
            name="operacion"
            required
            [(ngModel)]="operacion"
          />
          <div class="valid-feedback">&nbsp;</div>
          <div class="invalid-feedback">Introduzca la respuesta</div>
        </div>
        <button class="btn btn-primary" (click)="enviarFormulario()">
          Enviar
        </button>
      </form>
    </div>
  </div>
</div>
