<div class="container">
  <div class="row justify-content-center row1">
    <div class="col-6">
      <h2>Listado clientes</h2>
    </div>
  </div>
  <div class="row justify-content-center row1">
    <div class="col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">CIF</th>
            <th scope="col">Dirección</th>
            <th scope="col">Grupo</th>
          </tr>
        </thead>
        <tr *ngFor="let cl of datos">
          <td>{{cl.nombre}}</td>
          <td>{{cl.cif}}</td>
          <td>{{cl.direccion}}</td>
          <td>{{cl.grupo}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
